/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display : flex;
    background-color: none;
    height: 150px;
}

@import url('https://fonts.googleapis.com/css?family=Verdana:700');

#header_btn { 
    margin-top : 20px;
    margin-left : 60%;
}
#header_btn a{
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    background-color : #265d0c;
    color : bisque;
    padding : 6px;
    border : 1px solid brown;
    border-radius: 3px;
    font-size : 14px;
    cursor: pointer;
    align-content: center;
    justify-content: center;
}

#header_btn a:hover{
    background-color: bisque;
    color : #265d0c;
    text-decoration: none;
    border : 2px solid #265d0c;
    border-radius: 5px;
}

body hr {
    margin-left : 350px;
    margin-right : 350px;
    border : 1px solid brown;
}

/* navbar settings */
.navbar{
    display : flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    margin-left : 350px;
    margin-right : 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar a{
    background-color : #265d0c;
    color : bisque;
    padding : 6px;
    border : 1px solid brown;
    border-radius: 3px;
    font-size : 16px;
    cursor: pointer;
    text-decoration: none;
}

.navbar a:hover{
    background-color: bisque;
    color : #265d0c;
    border : 2px solid #265d0c;
    padding : 3px;
    border-radius: 10px;
}

/*show products*/
#products{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    margin-left : 80px;
    margin-right : 80px;
    margin-top : 10px;
    border : 3px solid brown;
    border-radius : 5px;
    gap: 10px;
}

.card-body{
    border : 1px solid brown;
    margin : 10px;
    display: inline-block;
    border-radius : 5px;
    align-content: center;
    align-items: center;
    box-shadow: 5px 10px 15px bisque;
}

.card-title{
    font-size: 20px;
    text-align: center;
    margin-bottom : 5px;
}

.card-price{
    font-size: 15px;
    text-align: center;
    margin-bottom : 5px;
}

.card-stock {
    font-size: 15px;
    text-align: center;
    margin-bottom : 5px;
}

#card-image {
    display :flex;
    justify-content: center;
}
.card-img{
    height: 150px;
    margin-bottom : 5px;
    padding : 10px;
    align-items: center;

}

#card-details {
    display : flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom : 5px;
    margin : 5px;
}
.card-title-details {
    display :flex;
    align-content: center;
    justify-content: center;
}
.card-button {
    padding : 8px;
    margin-left : 40px;
    margin-right : 40px;
    cursor : pointer;
    border-radius : 3px;
    color : bisque;
    background-color: #265d0c;
    margin-bottom : 5px;
    font-weight: bold;
}

footer hr{
    margin-left : 20px;
    margin-right : 20px;
    font-size: 20px;
}

#contact {
    display : flex;
    color: #265d0c;
    margin-left: 40px;

}
.rights h5{
    margin-left : 800px;
    color : #265d0c;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: inline-flex;
    justify-content: space-between;
    align-items: right;
    color : #265d0c;
    font-size: 20px; 
    margin-left : 70%;
}

.icons a i{
    color : #265d0c;
    margin-left : 5px;
    font-size: 20px;
}

.icons i:hover{
    color : #265d0c;
    border : 1px solid #265d0c;
    margin-left : 10px;
    cursor : pointer;
}


/*customize details.html*/
#product_details{
    margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 20px;
    margin-left : 150px;
}

.card-details { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 20px;
    align-items: center;
    border : 2px solid brown;
    padding: 20 80 20 80;
}

#card-image-details {
    margin: 10px;
    border : 1px solid brown;
    display : flex;
    justify-content: center;
    padding : 10px;
}

#card-content-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 10px;
}

/*customize contact_us.html*/
.banner {
	display: none;
}

.contact-details {
    margin-bottom: 20px;
}
.contact-page {
	padding: 40px 0;
}
.contact-page h1 {
	text-align: center;
	color: black;
}
.contact-title {
    display : inline;
    align-items: center;
	width: 100px;
	height: 10px;
	background:none;
    color : #265d0c;
    padding-left : 400px;
    font-weight: bold;
    
}
.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
    border : 2px solid brown;
    border-radius : 5px;
}
.contact-form-page {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
    background : bisque;
	padding: 20px 40px;
	outline: none;
	color: black;
    font-weight: bold;
	transition: 0.3s;
    border-radius: 5px;
    padding-bottom: 20px;;
}
.contact-form-page:hover {
	box-shadow: 0 0 10px 4px rgb(233, 140, 140);
}
textarea.contact-form-page {
	resize: none;
	height: 120px;
}
p {
	font-size: 15px;
}
.contact-button {
	margin-left: 180px;
	border: 0;
	color: bisque;
	font-size: 15px;
	background: #265d0c;
	text-align: center;
	padding: 10px 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
	width: 40%;
    margin-bottom : 15px;
}

.contact-button :hover{
    font-size: larger;
}
#yes-no {
	margin-left: 80px;
}
h1 {
	font-size: 50px;
}

form p a {
    color :  #265d0c;
    font-weight: bold;
}

.error {
    display : inline;
}

/*customize terms.html*/
#terms{
    display : block;
    align-items: center;
    justify-content:space-between;
    padding : 80px 100px 80px 100px;
    color :#265d0c;
}

/*customize admin.html*/
.add-form {
    border : 2px solid brown;
    margin-top : 10px;
    display : flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top : 10px;
    padding-bottom : 10px;
    margin-left : 100px;
    margin-right : 100px;
    border-collapse : collapse;
}

.form-control{
    margin : 10px;
    padding : 10px;
    
}

.form-group{
    display : flex;
    flex-direction : column;
}

#admin-products{
    margin-top:10px;
    border : 2px solid brown;
    margin-left : 100px;
    margin-right : 100px;
}

#admin-products-table{
   border : 1px solid brown;
   display : block;
   justify-content: center;
   border-collapse : collapse;
   padding-top : 10px;
   padding-bottom: 10px;;
}

#admin-products-table tr td {
    padding-top:10px;
    padding-bottom: 10px;
    vertical-align: middle;
    align-items: center;
    border : 1px solid brown;
}

#admin-products-table tr td img {
    height : 100px;
    display: block;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/*customize cart.html*/
#cart-products {
    padding-top:10px;
    padding-bottom: 10px;
    vertical-align: middle;
    align-items: center;
    border : 1px solid brown;
    width: 60%;
    margin-left: 290px;
}
#cart-products-table{
    width: 100%;
}

#cart-products-table td {
    padding-top:10px;
    padding-bottom: 10px;
    vertical-align: middle;
    align-items: center;
    border : 1px solid brown;
    margin : 20px;
}

#cart-products-table tr td img {
    height : 100px;
    display: block;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#total { 
    margin-left : 950px;
    margin-right: 260px;
    border : 1px solid brown;
    padding : 5px;
    font-weight: bold;
}

/*customise about_us.html*/
#about_us{
    border : 2px solid brown;
}

#about_us_content { 
    display : flex;
    justify-content: space-between;
}

#about_us_title {
     display : flex;
     align-content: center;
     align-items: center;
     padding-top : 20px;
     padding-left : 20px;
     margin-left : 80px;
     font-weight: bold;
}

#about_us_intro {
    display : flex;
     align-content: center;
     align-items: center;
     padding-top : 20px;
     padding-left : 20px;
     margin-left : 80px;
     margin-bottom : 40px;
}

#about_us_intro {
    display : inline-block;
    justify-content: space-between;
}

#about_us_content img{
    width: 300px;
    margin-left : 80px;
    margin-bottom : 30px;
}

#about_us_text {
    margin-left : 40px;
    margin-right : 40px; 
}
